/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$not-mobile: "min-width: 600px";
$only-mobile: "only screen and (max-width: 600px)";

html, input, textarea {
  font: 16px/1.4 "AverageMonoRegular", "courier new", courier, monospace;
  @media #{$only-mobile} {
    font-size: 13px;
  }
}

* { box-sizing: border-box; }
* { margin: 0; padding: 0; }

h1 { font-size: 130%; font-weight: bold; }
h2 { font-weight: normal; }
section h2 { font-size: 120%; color: #666; }
body { color: #333; }
h2 { margin-bottom: .5rem; }
abbr, .sc { text-transform: uppercase; }
abbr, .sc { font-size: 85%; }
a { text-decoration: none; }
a:not(:visited) { color: mediumblue; }
p, table { margin-bottom: .5rem; }
b { font-weight: bold; }
td { padding-right: .5em; }
th { text-align: left; }

.secret a {
  font-family: serif;
  opacity: 0.3;
}

footer.fancy {
  background-image: image-url("house.jpg");
  background-size: cover;
  background-position: bottom center;
  min-height: 8rem;

  .fade {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  span {
    background: yellow;
    display: inline;
    padding: .25rem .5rem;
    transform: rotateZ(2deg);

    a { font-weight: bold; }
  }
}

footer:not(.fancy) {
  background: purple;
}

header.fullscreen {
  font-family: helvetica, sans-serif;

  height: 110vh;
  position: relative;
  margin-bottom: 3rem;
  background-position: bottom center;
  background-image: image-url("house.jpg");
  color: black;
  h1 {
    background: white;
    background: #4955c3;
    background: yellow;
    color: black;
    padding: 0 .25em;
    letter-spacing: -0.05em;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    letter-spacing: 0.065em;
    background: yellow;
    color: black;
    margin-bottom: 1rem;
    padding: 0 .5em;
    font-weight: bold;
    font-size: 70%;
  }
}

header.fullscreen > *:not(.whitegradient) { transform: rotateZ(-2deg); }

.whitegradient {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0) 80%, white 97%);
}

body > header:not(.fullscreen) {
  color: #4955c3;
  text-shadow: none;
  background-size: contain;
  h1 { padding-top: 2rem; }
}

body > header {
  text-align: center;
  width: 100%;
  background-size: cover;
  background-position: center center;
  padding: 1rem;
  font-size: 200%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin-bottom: .5rem;
    line-height: 1.2;
  }
  
  h2 { font-size: 1.5rem; }
  h3 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
  }
  
  a { border-bottom: 1px solid currentcolor; }

  p {
    font-size: 1.5rem;
    max-width: 45%;
    opacity: 0.9;
    font-weight: normal;
  }
  
  tt {
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }
}

section { margin: 4rem auto; padding: 0 .75rem; }
section:first-of-type { margin-top: 2rem; }
section { max-width: 40rem; }

date { color: grey; white-space: nowrap; }
td { vertical-align: top; }

h4 { font-weight: normal; color: #444; }

project {
  display: block;
  margin-bottom: 1rem;
  date { margin-right: .5rem; }
}

article, comment {
  margin-bottom: 2rem;
  .avatar {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    float: left;
  }

  main {
    margin-top: .5rem;
  }
}

comment {
  display: block;
  name { font-weight: bold; }
  margin-bottom: 1rem;
}

.spaced > * {
  margin-right: .5rem;
}

label { display: block; line-height: 2em; }
input[type=text] { width: 100%; }
textarea { width: 100%; min-height: 8em; padding: .5rem; }
input[type=submit] { padding: .25rem .5rem; border-radius: .25rem; margin-top: 1rem; }


.flash {
  position: absolute;
  z-index: 2;
  width: 100%;
  font-size: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.flash > * {
  padding: .25rem .5rem;
  border-radius: 0 0 .5em .5em;
  border-top: 0 !important;
  line-height: 1.1;
  margin: 0 1rem;
}

.flash .notice {
  background-color: rgba(245, 245, 255, 0.8);
  border: 1px solid rgba(0, 0, 100, 0.4);
  color: #335;
}

.flash .current-resident {
  img { height: 2.5rem; width: 2.5rem; }
  background-color: white;
  border: 1px solid rgba(100, 100, 100, 0.5);
  color: #111;
  padding: 0 .5em 0 0;
  display: flex;
  align-items: center;

  img {
    border-radius: 0 0 0 .5em;
    margin-right: .75rem;
  }
}

.flash .alert {
  border-color: rgba(100, 0, 0, 0.5);
  background-color: rgba(255, 200, 200, 0.8);
  color: #533;
}

.resident-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resident {
  margin-right: 1rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .avatar {
    width: 4rem;
    height: 4rem;
    margin-bottom: .25rem;
  }
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs {
  font-size: 85%;
  opacity: 0.7;
  margin: .5rem auto;
}

img.freeriga {
  border-radius: 50%;
  width: 4rem;
  opacity: 1;
}

ul {
  list-style-type: none;
  margin-left: 1rem;
}

table {
  .avatar {
    height: 1.5rem;
    width: 1.5rem;
    float: left;
    margin-right: .5rem;
  }
}

gray { color: gray; }
gray a { opacity: 0.5; }

.like-icon {
  width: 1rem;
  height: 1rem;
}

.like-button {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 2px;
  background-color: #efe;
  transition: 0.1s ease all;
  transform: scale(1.4);

  &:hover {
    transform: scale(1.6);
  }
}

article main {
  margin-bottom: .75rem;
  margin-left: 1rem;
  margin-top: .75rem;

  @media #{$only-mobile} {
    margin-left: 0;
  }
}

likes {
  font-size: 90%;
  opacity: 0.8;
  line-height: 1;
  display: flex;
  align-items: center;
  padding-top: .75rem;
  margin-bottom: .25rem;
  img { margin-left: 0rem; margin-right: 1rem; }
}

article main img {
  max-width: 100%;
  margin: .5rem 0;
}

.post-bonuses {
  display: inline-flex;
  margin-left: 1rem;
  align-items: center;
  img { margin: 0 .25rem 0 .5rem; }
  @media #{$only-mobile} {
    img { margin-left: 0; }
  }
}

section.projects table {
  line-height: 1.2;
  margin-top: .25rem;
}

@media (max-width: 600px) {
  .not-on-mobile { display: none; }
}

td { border-bottom: 1px solid #ddd; }
tr:last-child td { border-bottom: 0; }

.ghost { visibility: none; opacity: 0; }